@inherits LayoutComponentBase

<div class="font-sans antialiased">
    <NavBar />

    <OpenMod.Plugins.Shared.PageTitle />

    <div class="px-3 mx-auto mb-8 w-full max-w-7xl">
        @Body
    </div>
</div>
